* {
  box-sizing: border-box;
  font-family: "Myriad"; }

body {
  background-color: #f68d5d; }

main {
  margin: 0 auto; }

h1, h2, h3, p {
  margin: 0 0 0 0; }

@font-face {
  font-family: "Myriad";
  src: url(myriad.otf); }

.header, .hero, .heroArticle, .connectElement, .footer {
  border-radius: 10px 10px 10px 10px; }

.header {
  height: 131px;
  background: navy;
  text-align: center;
  color: white;
  margin: 0 auto;
  padding: 10px 10px 10px 10px; }

.headerMainimg {
  color: white; }

.headerMain {
  margin: 0 0 0 0;
  font-weight: lighter; }

.header h2 {
  font-size: 14px;
  margin-bottom: 10px; }

.headerNav {
  padding: 0 0 0 0;
  margin: 0 auto;
  font-weight: bold; }

.header a {
  text-decoration: none;
  color: pink;
  width: 50%;
  height: 30px;
  border-radius: 10px;
  display: block;
  float: left;
  text-align: center;
  padding: 10px;
  background: #00A79C;
  margin: 0 auto; }

.hero {
  margin: 0 auto;
  padding: 50px 15px 15px 15px;
  background: #3cc;
  overflow: auto; }

.hero h1 {
  font-size: 48px;
  color: white;
  font-weight: lighter;
  margin: 0 0 30px 0;
  padding: 30px; }

.hero p {
  font-size: 14px;
  margin: 10px; }

.articleSection {
  overflow: auto; }

.mainArticle {
  width: 90%;
  float: right; }

.articleActions {
  width: 10%;
  float: left;
  border: none;
  background: #3E74A0;
  display: block;
  margin: 150px 0 0 0; }

.articleActions a {
  text-decoration: none; }

.heroArticle h2 {
  text-align: center;
  color: white; }

.connectElement {
  background-color: #fff3a7;
  margin: 20px auto;
  text-align: center;
  padding: 10px; }

.connectCircle {
  height: 70px;
  width: 70px;
  background: red;
  margin: 0 auto;
  border-radius: 100%;
  overflow: hidden; }

.connectCircle img {
  height: 70px;
  width: 70px; }

.connectElement h3 {
  color: green;
  font-weight: lighter; }

.connectElement nav a {
  text-decoration: none;
  color: #c11e60; }

.ad {
  margin: 15px 0; }

.adImg {
  height: 300px;
  width: 275px;
  margin: 0 auto;
  border-radius: 30%;
  background-image: url(../images/addMurray.jpg); }

.posts {
  margin: 0 auto;
  padding: 10px;
  background: green; }

.posts h1 {
  text-align: center;
  font-size: 48px;
  color: white;
  font-weight: lighter; }

.postBox {
  width: 100%;
  height: 300px;
  padding: 240px 0 0 20px;
  font-size: 30px;
  margin: 5px;
  color: blue;
  font-weight: lighter;
  background-repeat: no-repeat;
  border-radius: 10px;
  background-size: cover;
  background-position: top center; }

.postBox:nth-child(1) {
  background-image: url(../images/postBox1.jpg); }

.postBox:nth-child(2) {
  background-image: url(../images/postBox2.jpg); }

.postBox:nth-child(3) {
  background-image: url(../images/postBox3.jpg); }

.postBox:nth-child(4) {
  background-image: url(../images/postBox4.jpg); }

.footer {
  margin: auto;
  background-color: #c32053;
  padding: 25px;
  text-align: center;
  color: yellow; }

.footer a {
  text-decoration: none;
  color: yellow; }

.footerNav, .footerNav2 {
  margin: 5px 0; }

.footer img {
  border-radius: 60px; }

@media (min-width: 575px) {
  .header {
    height: 300px;
    margin: 0;
    text-align: center;
    overflow: auto; }
  .headerImg {
    width: 100%;
    height: 100%;
    background-image: url(../images/image1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
    margin: 0 0 0 0; }
  .imgOverlay {
    width: 13%;
    height: 20%;
    margin: 0 auto;
    float: left;
    background: blue;
    opacity: .5;
    position: relative;
    overflow: hidden; }
  .headerMain {
    margin: 150px 0 0 0;
    float: left;
    padding: 0 auto;
    display: inline-block;
    width: 74%;
    overflow: auto; }
  .header h1 {
    font-size: 60px; }
  .header h2 {
    overflow: hidden;
    margin: 0; }
  .headerNav {
    width: 13%;
    margin: 0 auto;
    float: right;
    overflow: hidden; }
  .header a {
    margin: 0 0px;
    width: 50%;
    float: left; }
  .hero {
    padding: 10px;
    margin: 0 auto; }
  .articleSection {
    width: 60%;
    float: left; }
  .articleActions {
    width: 100%;
    margin: 0 auto;
    text-align: center; }
  .articleActions a {
    display: block;
    float: left;
    width: 30%; }
  .mainArticle {
    margin: 0px auto;
    background: blue;
    padding: 10px;
    border-radius: 10px;
    width: 100%; }
  .sideBar {
    margin: 0 auto;
    background-color: purple;
    float: right;
    border-radius: 10px;
    padding: 0 0 0 0;
    width: 30%;
    margin: 0  0 0; }
  .connectElement {
    float: none;
    margin: 0 auto; }
  .ad {
    float: none;
    margin: 0 auto;
    width: 100%; }
  .adImg {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: auto;
    border-radius: 0; }
  .posts {
    overflow: auto;
    padding: 0 0%; }
  .postSections {
    width: 100%;
    display: block; }
  .postBox {
    float: left;
    width: 25%;
    font-size: 22px;
    margin: 0 0 0 0;
    border-radius: 0; }
  .footer {
    height: 75px;
    overflow: none; }
  .footer img {
    float: left;
    height: 20px;
    width: 20px; }
  .footerNavSection {
    float: right; }
  .footer nav {
    float: left; }
  .footerNav2 {
    float: right; }
  .footerLogoCopyright {
    float: left;
    margin: 0 auto; }
  .copyRight {
    margin: 10px 0 0 0;
    float: left; } }
